@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Poiret+One&display=swap');

:root{
  --bg-color:#080808;
  --white-color:#fff;
  --primary-black:#080707;
  --red-color:#ff004f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}



#header{
    width: 100%;
    height: 100vh;
    background-image: url('images/men-3.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.container{
    padding: 10px 10%;
}

nav{
  width: 100%;
  padding: 15px 30px;
  position: fixed;
  background: var(--primary-black);
  top: 0;
  left: 0;
  z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo h2{
    color: var(--red-color);
    font-family: 'Exo 2', sans-serif;
    width: 140px;
    font-size: 30px;
}
.logo span{
    color: var(--white-color);
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:var(--red-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s all ease-in-out;
}

nav ul li a:hover::after{
    width: 100%;
}

/* Header Text Section */
.main_Text{

}

.main_Text p{
  margin-top: 20%;
  font-size: 30px;
}
.main_Text h1{
  font-size: 60px;
  margin-top: 20px;
}

.main_Text h1 .typewritter{
  font-family: 'Exo 2', sans-serif; 

}
.main_Text h1 span{
    color: var(--red-color);
    font-weight: 700;
}

.main_Text h1 span{
  
}
@keyframes typewriter {
  from {
      width: 0%;
  }

  to {
      width: 50%;
  }
}

@keyframes blink {
  from {
      border-color: black;
  }

  to {
      border-color: transparent;
  }
}
.main_Text .hireme{
  background: var(--red-color);
  color: var(--white-color);
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.btnWrapper{
  margin-top: 20px;
  display: flex;
  justify-content: left;
  gap: 20px;
  align-items: center;
}
.main_Text .resume_btn{
  width: 200px;
  background:var(--red-color);
  color: var(--white-color);
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.resume_btn a{
  text-decoration: none;
  color: var(--white-color);
}


.main_Text .hireme:hover{
  transition: 0.3s all ease-in-out;
  background: #cf0444;
}




#about{
  padding: 80px 0;
  color: #ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_col_1{
  flex-basis: 35%;
}
.about_col_1 img{
    width: 100%;
    object-fit: cover;
    height: 500px;
    border: 1px solid var(--red-color);
    border-radius: 10px;
}
.about_col_2{
  flex-basis: 60%;
}
.about_col_2 p{
    padding: 10px 0;
    text-align: justify;
}
.about_col_2 p .myname{
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
}
.about_col_2 .about_Text{
    font-size: 60px;
    font-weight: 600;
    color: var(--white-color);
   
}

.tab_Wrapper{
  display: flex;
  margin: 20px 0 40px;
}

.tab_Wrapper .tab_links{
 margin-right: 50px;
 font-size: 18px;
 font-weight: 500;
 cursor: pointer;
 position: relative;
}

.tab_links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:var(--red-color);
    left: 0;
    bottom: -8px;
    position: absolute;
    transition: 0.5s;
}
.tab_links.active_link::after{
    width: 50%;
}

.tab_Contents ul li{
    list-style: none;
    margin: 10px 0;

}

.tab_Contents ul li span{
    font-size: 16px;
    font-weight: 600;
    color: #f31a5f;
}

.tab_Contents{
    display: none;
}

.tab_Contents.active_tab{
    display: block;
}


/* services */

#services{
  padding: 30px 0;
}

#services .services_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.services_list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}

.services_list div span{
  font-size: 14px;
}
.services_list div span p{
  font-size: 14px;
  font-weight: 600;
}

.services_list div:hover{
    cursor: pointer;
    background:var(--red-color);
    transform: translateY(-10px);
}

.services_list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services_list div a{
    text-decoration: none;
    font-size: 12px;
    color:var(--white-color);
    margin-top: 20px;
    display: inline-block;
}



#portfolio{
    padding: 50px 0;
}

#portfolio .work_list{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 gap: 40px;
 margin-top: 50px;
}

.work_list .work{
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.work img{
width: 100%;
height: 300px;
border-radius: 10px;
object-fit:cover;
display: block;
transition: transform 0.5s;
}

.work img:hover{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height:0;
    font-size: 14px;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition:  height 0.5s;
}

.work:hover .layer{
    cursor: pointer;
    height: 100%;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color:var(--red-color);
    line-height: 60px;
    text-decoration: none;
    background: var(--white-color);
}




#contact{
}

.contact_left{
    flex-basis: 35%;
}

.contact_left p{
    margin-top: 30px;
}

.contact_left p i{
    color: var(--red-color);
    margin-right: 15px;
    font-size: 25px;
}
.social_icons{
  margin-top: 30px;
}

.social_icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social_icons a:hover{
    color: var(--red-color);
    transform: translateY(-5px);
}

.download_btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 20px;
    background: var(--red-color);
    color: var(--white-color);
    border-radius: 5px;
    margin-top: 20px;
}


.contact_right{
 flex-basis: 60%;
 margin-bottom: 40px;
}


.contact_right form{
  width: 100%;
}

form input, form textarea{
    width: 100%;
    font-size: 18px;
    background: #262626;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: var(--white-color);
    border-radius: 6px;
}

form button{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 14px 60px;
    outline: none;
    border: 0;
    background:var(--red-color);
    color: var(--white-color);
    cursor: pointer;
    border-radius: 5px;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    background: #262626;
}



nav .myicons{
  display: none;
}

#msg{
    color: #61b752;
    margin-top: 20px;
    display: block;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}


.scrolltop{
  position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0e0c0c;
    bottom: 30px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    -webkit-animation: bounce 0.6s infinite;
}
.scrolltop:hover{
    color: #FFF222;
    transform: scale(1.1);
}


@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}


@media screen and (max-width:767px) {
  .main_Text{
    margin-top: 20%;
    font-size: 20px;
   }
    .main_Text p{
      font-size: 50px;
    }

    .main_Text h1{
        font-size: 50px;
     }
    .main_Text h1 .typewritter{
      font-size: 75px;
     }
     .main_Text .resume_btn{
      width: 500px;
      padding: 25px 40px;
      font-size: 24px;
      margin-top: 20px;
     }

    nav .myicons{
      display: block;
      font-size: 42px;
    }

    nav ul{
      width: 200px;
      height: 100vh;
      background: #ff004f;
      position: fixed;
      right: -200px;
      top: 0;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
    nav ul li{
      display: block;
      margin: 25px;
    }

    nav  ul .myicons{
      position: absolute;
      top:25px;
      left: 25px;
      cursor: pointer;
    }

    .main_Text h1 span{
      font-size: 60px;
    }
 
    .about{
      /* width: 100%;
      display: block;
      margin: 0 auto; */
    }
    .row{
      /* width: 100%;
      display: block;
      margin: 0 auto;
      flex-direction: column; */
    }
    .about_col_1,.about_col_2{
      width: 100%;
    }

    .about_col_1 {
      width: 100%;
      margin-bottom: 30px;
    }
    .about_col_1 img{
      /* width: 50%; */
      width: 600px;
      height: auto;
      object-fit: cover;
    }
    .about_col_2{
      width: 100%;
      display: block;
      margin: 0 auto;
      
    }
    .about_col_2 p{
      width: 600px;
      margin: 0 auto;
      font-size: 22px;
      font-weight: 600;
      text-align: justify;
    }
    .about_col_2 p .myname{
      font-size: 25px;
    }

    .tab_Wrapper{
      width: 100%;
      margin: 0 auto;
      margin: 25px 0 40px;
    }
    .tab_links{
      font-size: 24px !important;
      margin-right: 20px;
    }
   
    .tab_Contents{
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .tab_Contents ul li {
      font-size: 20px;
    }
    .tab_Contents ul li span{
      font-size: 22px;
    }
    .about_Text{
      font-size: 50px;
      padding: 10px 0;
      text-align: center;
    }


    .services_list div h2{
       font-size: 30px;
  }
  
  .services_list div span{
    font-size: 18px;
    letter-spacing: 1px;
  }
  .services_list div span p{
    font-size: 18px;
    overflow: hidden;
    letter-spacing: 1px;
  } 
  #services .services_list{
    width: 100%;
    display: block;
    grid-template-columns: 400px;
    gap: 50px;
    margin:0 auto;
  }
  .services_list div{
    margin-bottom: 25px;
  }
  .services_list div a{
    font-size: 20px;
  }
    .contact_left,.contact_right{
      flex-basis: 100%;
    }
    #contact{
      text-align: center;
    }
    .footer{
      font-size: 20px;
      padding: 15px 20px;
    }
    .btnWrapper{
      flex-direction: column;
    }
    .hireme{
       display: none;
    }
    .resume_btn{
      width: 100%;
    }

   
}


@media screen and (max-width:667px) {
     .main_Text{
      margin-top: 20%;
      font-size: 20px;
     }
      .main_Text p{
        font-size: 50px;
      }
  
      .main_Text h1{
          font-size: 45px;
       }
      .main_Text h1 .typewritter{
        font-size: 65px;
       }
       .main_Text .resume_btn{
        width: 500px;
        padding: 20px 40px;
        font-size: 24px;
       }
  
      nav .myicons{
        display: block;
        font-size: 42px;
      }
  
      nav ul{
        width: 200px;
        height: 100vh;
        background: #ff004f;
        position: fixed;
        right: -200px;
        top: 0;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
      }
      nav ul li{
        display: block;
        margin: 25px;
      }
  
      nav  ul .myicons{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
      }

      .main_Text h1 span{
        font-size: 60px;
      }
   
      .about{

      }
      .row{
      
      }
      .about_col_1,.about_col_2{
        width: 100%;
      }
  
      .about_col_1 {
        width: 100%;
        margin-bottom: 30px;
      }
      .about_col_1 img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .about_col_2{
        font-size: 14px;
        
      }
      .about_col_2 p{
        width: 100%;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 600;
        text-align: justify;
      }
      .about_col_2 p .myname{
        font-size: 25px;
      }
  
      .tab_Wrapper{
        width: 100%;
        margin: 0 auto;
        margin: 25px 0 40px;
      }
      .tab_links{
        font-size: 24px !important;
        margin-right: 20px;
      }
     
      .tab_Contents{
        display: block;
        width: 100%;
        margin: 0 auto;
      }
      .tab_Contents ul li {
        font-size: 20px;
      }
      .tab_Contents ul li span{
        font-size: 22px;
      }
      .about_Text{
        font-size: 50px;
        padding: 10px 0;
        text-align: center;
      }
  
  
      .services_list div h2{
         font-size: 30px;
    }
    
    .services_list div span{
      font-size: 18px;
      letter-spacing: 1px;
    }
    .services_list div span p{
      font-size: 18px;
      overflow: hidden;
      letter-spacing: 1px;
    } 
    .services_list div a{
      font-size: 20px;
    }
      .contact_left,.contact_right{
        flex-basis: 100%;
      }
      #contact{
        text-align: center;
      }
      .footer{
        font-size: 20px;
        padding: 15px 20px;
      }
      .btnWrapper{
        flex-direction: column;
      }
      .hireme{
         display: none;
      }
      .resume_btn{
        width: 100%;
      }
}


@media screen and (max-width:480px) {

  .main_Text{
  margin-top: 20%;
  font-size: 20px;
  }

  .main_Text h1{
      font-size: 40px;
    }
    .main_Text h1 .typewritter{
      font-size: 50px;
    }
    .main_Text .resume_btn{
      width: 400px;
      padding: 20px 40px;
      font-size: 20px;
     }

    nav .myicons{
      display: block;
      font-size: 42px;
    }

    nav ul{
      width: 200px;
      height: 100vh;
      background: #ff004f;
      position: fixed;
      right: -200px;
      top: 0;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
    nav ul li{
      display: block;
      margin: 25px;
    }

    nav  ul .myicons{
      position: absolute;
      top:25px;
      left: 25px;
      cursor: pointer;
    }

    .main_Text{
      font-size: 40px;
    }
    .main_Text h1 span{
      font-size: 60px;
    }
 
    .about{
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    .row{
      width: 100%;
      display: block;
      margin: 0 auto;
      flex-direction: column;
    }
    .about_col_1,.about_col_2{
      width: 100%;
    }

    .about_col_1 {
      width: 100%;
      margin-bottom: 30px;
    }
    .about_col_1 img{
      width: 90%;
      height: 400px;
      object-fit: cover;
    }
    .about_col_2{
      font-size: 14px;
    }
    .about_col_2 p{
      font-size: 18px;
      font-weight: 500;
      width: 300px;
      text-align: justify;
    }
    .about_col_2 p .myname{
      font-size: 20px;
    }

    .tab_Wrapper{
      flex-direction: column;
      margin: 25px 0 40px;
    }
    .tab_links{
      font-size: 18px;
      margin-right: 20px;
    }
   
    .tab_Contents{
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .tab_Contents ul li {
      font-size: 18px;
    }
    .tab_Contents ul li span{
      font-size: 20px;
    }
    .about_Text{
      font-size: 50px;
      text-align: center;
    }


    .services_list div h2{
       font-size: 30px;
  }
  
  .services_list div span{
    font-size: 18px;
    letter-spacing: 1px;
  }
  .services_list div span p{
    font-size: 18px;
    overflow: hidden;
    letter-spacing: 1px;
  } 
  .services_list div a{
    font-size: 20px;
  }
    .contact_left,.contact_right{
      flex-basis: 100%;
    }
    #contact{
      text-align: center;
    }
    .footer{
      font-size: 16px;
    }
    .btnWrapper{
      flex-direction: column;
    }
    .hireme{
       display: none;
    }
    .resume_btn{
      width: 100%;
    }
}